# Configuration for Utopia

# The directory used as value for --prefix when building QEMU
#QEMU_BUILD_DIR=../qemu-build

# The location of the backing (ro) root filesystem for QEMU
#QCOW2_BACKING_FILE=./cslab_rootfs_2017.raw

# Private qcow2 for QEMU, delete this to reset Utopia to its original state
# WARNING: All changes inside Utopia WILL be lost.
#QCOW2_PRIVATE_FILE=./private.qcow2

# UTOPIA_SSH_PORT: The TCP port to use on the host for incoming SSH
# Use ssh -p <port> root@localhost to connect to Utopia from the host.
#UTOPIA_SSH_PORT=22223

# UTOPIA_SSH_INTERFACE: Use 127.0.0.1 to only allow connections from
# localhost, 0.0.0.0 to allow connections from *everywhere*.
# WARNING: MAKE SURE YOU'VE SET STRONG PASSWORDS FOR user AND root
# BEFORE ENABLING SSH ACCESS FROM THE OUTSIDE WORLD.
# UTOPIA_SSH_INTERFACE=127.0.0.1

# UTOPIA_MEMORY_MB: Utopia memory size, in MB, default 1024MB
# UTOPIA_MEMORY_MB=1024
